mixin plus-minus(options)
  .js-plus-minus.plus-minus(min=(options.min || 0) max=(options.max  || 5) id=options.id name=options.name)

mixin dropdown(options)
  .dropdown.js-dropdown
    if options.title
      .text-field__title=options.title
    .dropdown__result(id=options.id)=options.placeholder
    .dropdown__content
      ul.dropdown__list
        each option in options.optionsList.length ? options.optionsList : ['There are no values']
          li.dropdown__item.js-dropdown-item
            .dropdown__option.js-dropdown-option(selected=option.selected data-forms=option.wordForms data-group=option.group)=option.text
            +plus-minus({min: options.min , max: options.max, id: option.id, name: option.name})
      if options.controls
        .dropdown__controls
          button.dropdown__reset.js-reset.dropdown__reset--hidden Очистить
          button.dropdown__apply.js-apply Применить
