mixin dropdown(options = {})
  -
    var {
      title,
      placeholder="Список",
      optionsList=["There are no values"],
      minimum=0,
      maximum=5,
      id,
      name,
      controls=false
    } = options
  .dropdown.js-dropdown
    if title
      label.dropdown__title=title
    button(type="button").dropdown__result.js-dropdown-result=placeholder
    .dropdown__content
      ul.dropdown__list
        each option in optionsList
          li.dropdown__item.js-dropdown-item
            .dropdown__option.js-dropdown-option(selected=option.selected data-forms=option.wordForms data-group=option.group)=option.text
            .js-plus-minus.plus-minus(min=(minimum || 0) max=(maximum || 5) id=option.id name=option.name)
      if controls
        .dropdown__controls
          button(type="button").dropdown__reset.js-reset.dropdown__reset_hidden Очистить
          button(type="button").dropdown__apply.js-apply Применить
