include ../plus-minus/plus-minus.pug

mixin dropdown(options = {})
  -
    var {
      title,
      placeholder="Список",
      optionsList=["There are no values"],
      minimum=0,
      maximum=5,
      id,
      name,
      controls=false,
      resetText="Очистить",
      applyText="Применить"
    } = options
  .dropdown.js-dropdown
    if title
      label.dropdown__title=title
    button(type="button").dropdown__result=placeholder
    .dropdown__content
      ul.dropdown__list
        each option in optionsList
          li.dropdown__item
            .dropdown__option(selected=option.selected data-forms=option.wordForms data-group=option.group)=option.text
            +plus-minus({
              min: minimum,
              max: maximum,
              id: option.id,
              name: option.name
            })
      if controls
        .dropdown__controls
          button(type="button").dropdown__reset.dropdown__reset_hidden=resetText
          button(type="button").dropdown__apply=applyText
