mixin advantage(options = {})
  -
    var {
      imageLink="./mock",
      alt="Преимущество",
      title="Преимущество",
      description="Описание преимущества"
    } = options
  .advantage
    img.advantage__image(src=imageLink, alt=alt)
    span.advantage__title=title
    span.advantage__description=description