mixin btn(options = {})
  -
    var {
      styleType="",
      type="submit",
      btnText="Кнопка",
      link="",
      slim=false
    } = options
  case type
    when "button"
      - var type = "button"
    when "reset"
      - var type = "reset"
    default
      - var type = "submit"
  case styleType
    when "secondary"
      - var btnClass = "btn_type_secondary"
    when "proceed"
      - var btnClass = "btn_type_proceed"
    default
      - var btnClass = "btn_type_primary"
  if link
    a(href=link class=`btn ${btnClass} ${slim ? "btn_size_slim" : "" }`)=btnText
  else
    button(class=`btn ${btnClass} ${slim ? "btn_size_slim" : "" }` type=type)=btnText
