mixin rate-btn(options) 
  fieldset.rate-btn
    input.rate-btn__star(type="radio", name=options.name, value=1)
    input.rate-btn__star(type="radio", name=options.name, value=2)
    input.rate-btn__star(type="radio", name=options.name, value=3)
    input.rate-btn__star(type="radio", name=options.name, value=4)
    input.rate-btn__star(type="radio", name=options.name, value=5)
