include ../datepicker/datepicker.pug
include ../dropdown/dropdown.pug
include ../buttons/buttons.pug

mixin booking({num = 1, type = '', price = '0', calc = [], fullPrice = 0, start, end})
  form.booking
    .booking__room-info
      .booking__room
        span №
          span.booking__num=num
        span.booking__type=type
      .booking__per-day
        span.booking__price=price
        span.booking__measurement  в сутки
    .booking__datepicker
      +datepicker-double({ start: {label: 'Прибытие', id: start.id}, end: {label: 'Выезд', id: end.id} })
    .booking__dropdown
      +dropdown({title: 'гости', controls: true, id: 'booking-dropdown', placeholder: 'Сколько гостей', optionsList: [{text: 'Взрослые', wordForms: 'гость гостя гостей', group: 1},{text: 'Дети', wordForms: 'гость гостя гостей', group: 1},{text: 'Младенцы', wordForms: 'младенец младенца младенцев'}]})
    .booking__calc.calc
      each val in calc.length ? calc : ['There are no values']
        .calc__item
          .calc__position
            .calc__item-description=val[0]
            if val[2]
              .calc__btn-box
                .calc__btn
                .calc__tooltip=val[2]
          .calc__price=val[1]
    .booking__result Итого
      .booking__dots
      .booking__price=fullPrice
    +button({btnText: 'забронировать', type: 'proceed'})
      

    
      
    