include ../range-datepicker/range-datepicker.pug
include ../dropdown/dropdown.pug
include ../btn/btn.pug
include ../calc/calc.pug

mixin booking({num = 1, type = "", price = "0", calc = ["There are no values"], fullPrice = 0, action = "./mock"} = {})
  form(action=action).booking
    .booking__room-info
      h3.booking__room
        span.booking__num №
          span.booking__digit=num
        span.booking__type=type
      .booking__per-day
        span.booking__price=price
        span.booking__measurement  в сутки
    .booking__datepicker
      +range-datepicker({
        startLabel: "Прибытие",
        endLabel: "Выезд"
      })
    .booking__dropdown
      +dropdown({
        title: "гости",
        controls: true,
        placeholder: "Сколько гостей",
        optionsList: [{
          text: "Взрослые",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Дети",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Младенцы",
          wordForms: "младенец младенца младенцев"
        }]
      })
    .booking__calc
      +calc({calc})
    .booking__result Итого
      .booking__dots
      .booking__price=fullPrice
    +btn({btnText: "забронировать", type: "proceed"})
