include ../datepicker/datepicker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../calc/calc.pug

mixin booking({num = 1, type = "", price = "0", calc = ["There are no values"], fullPrice = 0, action = "./mock"} = {})
  form(action=action).booking
    .booking__room-info
      .booking__room
        span №
          span.booking__num=num
        span.booking__type=type
      .booking__per-day
        span.booking__price=price
        span.booking__measurement  в сутки
    .booking__datepicker
      +datepicker-double({
        startLabel: "Прибытие",
        endLabel: "Выезд"
      })
    .booking__dropdown
      +dropdown({
        title: "гости",
        controls: true,
        id: "booking-dropdown",
        placeholder: "Сколько гостей",
        optionsList: [{
          text: "Взрослые",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Дети",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Младенцы",
          wordForms: "младенец младенца младенцев"
        }]
      })
    .booking__calc
      +calc({calc})
    .booking__result Итого
      .booking__dots
      .booking__price=fullPrice
    +button({btnText: "забронировать", type: "proceed"})
