include ../range-datepicker/range-datepicker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../calculation/calculation.pug

mixin booking(options = {})
  -
    var {
      number=1,
      type="",
      price="0",
      calculation=["There are no values"],
      fullPrice=0,
      measure="в сутки",
      startLabel="Прибытие",
      endLabel="Выезд",
      dropdown={
        title: "гости",
        controls: true,
        placeholder: "Сколько гостей",
        optionsList: [{
          text: "Взрослые",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Дети",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Младенцы",
          wordForms: "младенец младенца младенцев"
        }]
      },
      sum="Итого",
      proceedButton={buttonText: "забронировать", styleType: "proceed"},
      numberSign="№",
      action="./mock"
    } = options
  form(action=action).booking
    .booking__room-information
      h3.booking__room
        span.booking__number
          span.booking__number-sign=numberSign
          span.booking__digit=number
        span.booking__type=type
      .booking__per-day
        span.booking__price=price
        span.booking__measurement=` ${measure}`
    .booking__datepicker
      +range-datepicker({
        startLabel,
        endLabel
      })
    .booking__dropdown
      +dropdown(dropdown)
    .booking__calculation
      +calculation({calculation})
    .booking__result=sum
      .booking__dots
      .booking__price=fullPrice
    +button(proceedButton)
