include ../range-datepicker/range-datepicker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../calculation/calculation.pug

mixin booking(options = {})
  -
    var {
      number=1,
      type="",
      price="0",
      calculation=["There are no values"],
      fullPrice=0,
      action="./mock"
    } = options
  form(action=action).booking
    .booking__room-information
      h3.booking__room
        span.booking__number №
          span.booking__digit=number
        span.booking__type=type
      .booking__per-day
        span.booking__price=price
        span.booking__measurement  в сутки
    .booking__datepicker
      +range-datepicker({
        startLabel: "Прибытие",
        endLabel: "Выезд"
      })
    .booking__dropdown
      +dropdown({
        title: "гости",
        controls: true,
        placeholder: "Сколько гостей",
        optionsList: [{
          text: "Взрослые",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Дети",
          wordForms: "гость гостя гостей",
          group: 1
        }, {
          text: "Младенцы",
          wordForms: "младенец младенца младенцев"
        }]
      })
    .booking__calculation
      +calculation({calculation})
    .booking__result Итого
      .booking__dots
      .booking__price=fullPrice
    +button({buttonText: "забронировать", styleType: "proceed"})
