extends ../../components/template-page/template-page.pug

block meta
  meta(name="description", content="colors and type")
  meta(name="keywords", content="colors, type")

block title
  title Colors and type

block content
  body.colors-type
    .colors-type__container
      section.colors-type__colors
        ul.colors-type__colors-list
          -
            var colors = [{
                title: "Dark Shade 100%",
                text: "#1F2041",
                class: "dark-100"
              },
              {
                title: "Dark Shade 75%",
                text: "#1F2041",
                class: "dark-75"
              },
              {
                title: "Dark Shade 50%",
                text: "#1F2041",
                class: "dark-50"
              },
              {
                title: "Dark Shade 25%",
                text: "#1F2041",
                class: "dark-25"
              },
              {
                title: "Dark Shade 5%",
                text: "#1F2041",
                class: "dark-5"
              },
              {
                title: "Purple",
                text: "#BC9CFF",
                class: "purple"
              },
              {
                title: "Green",
                text: "#6FCF97",
                class: "green"
              }
            ]
          each val in colors
            li.colors-type__color
              .colors-type__color-sample(class=`colors-type__color-sample_${val.class}`)
              .colors-type__color-info
                .colors-type__color-title=val.title
                .colors-type__color-text=val.text
      section.colors-type__type
        ul.colors-type__type-list
          -
            var types = [{
                type: "h1",
                text: "This one is the sub-section or widget title",
                class: "h1"
              },
              {
                type: "h2",
                text: "Next one is the item title inside widgets",
                class: "h2"
              },
              {
                type: "h3",
                text: "This is a label or CTA text",
                class: "h3"
              },
              {
                type: "body",
                text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
                class: "body"
              }
            ]
          each val in types 
            li.colors-type__type-item(class=`colors-type__type-item_type_${val.type}`)
              span.colors-type__type-title=val.type
              span.colors-type__type-text=val.text

