mixin datepicker(options)
  .datepicker-single
    if options.title
      .masked-field__title=options.title
    input.datepicker-single__input(type="text" id=options.id placeholder="ДД.ММ.ГГГГ" class='datepicker-here')

mixin datepicker-double(options)
  .datepicker-double
    .datepicker-double__start
      label.datepicker-double__label(for=options.start.id)=options.start.label
      .datepicker-double__box
        input.datepicker-double__input.js-range-datepicker-start(type="text" id=options.start.id data-range="true" name=options.name data-multiple-dates-separator=" - " class="datepicker-here" placeholder="ДД.ММ.ГГГГ")
    .datepicker-double__end
      label.datepicker-double__label(for=options.end.id)=options.end.label
      .datepicker-double__box
        input.datepicker-double__input.js-range-datepicker-end(type="text" id=options.end.id data-range="true" name=options.name data-multiple-dates-separator=" - " class="datepicker-here" placeholder="ДД.ММ.ГГГГ")
  

