mixin datepicker({title, id, start, end} = {})
  .datepicker-single
    if title
      .form-element-title=title
    input.datepicker-single__input(type="text" id=id placeholder="ДД.ММ.ГГГГ" class='datepicker-here')

mixin datepicker-double({start, end} = {})
  .datepicker-double
    .datepicker-double__start
      label.datepicker-double__label(for=start.id)=start.label
      .datepicker-double__box
        input.datepicker-double__input.js-range-datepicker-start(type="text" id=start.id data-range="true" name=name data-multiple-dates-separator=" - " class="datepicker-here" placeholder="ДД.ММ.ГГГГ")
    .datepicker-double__end
      label.datepicker-double__label(for=end.id)=end.label
      .datepicker-double__box
        input.datepicker-double__input.js-range-datepicker-end(type="text" id=end.id data-range="true" name=name data-multiple-dates-separator=" - " class="datepicker-here" placeholder="ДД.ММ.ГГГГ")
  

