include ../subscription/subscription.pug
include ../footer-nav/footer-nav.pug

mixin footer(options = {})
  -
    var { extended = false, 
    logoLink = 'landing-page.html', 
    companyText = 'Текст о компании', 
    navLists = ['There are no values'], 
    copyright = 'Копирайт', 
    socialList = ['None'], 
    sub = {title:'Подписка', text: 'Текст подписки', placeholder: 'Заглушка'} } = options
  footer.main-footer
    h2.main-footer__title Page footer
    if extended
      .main-footer__container
        .main-footer__main
          .main-footer__company
              a(href=logoLink).main-footer__company-logos
                .main-footer__company-logo
                  img(src="/logo.svg", alt="Logo")
                .main-footer__company-name
                  img(src="/toxin.svg", alt="Company TOXIN")
              .main-footer__company-text=companyText
          .main-footer__menu
            each navList in navLists
              nav.main-footer__nav
                +footer-nav({ navList })
            form.main-footer__sub
                h3.main-footer__sub-title=sub.title
                .main-footer__sub-text=sub.text
                .main-footer__sub-input
                  +subscription({placeholder: sub.placeholder})
      .main-footer__separator
      //- hr
      .main-footer__container
        .main-footer__bottom
            .main-footer__copyright=copyright
            ul.main-footer__social
              each social in socialList
                li.main-footer__social-item
                  a.main-footer__social-link(href=social.link target="_blank" rel="noopener noreferrer")
                    img.main-footer__social-img(src=social.imgLink, alt=social.name)
                    span.main-footer__social-name=social.name
    else
      .main-footer__container
        .main-footer__main.main-footer__main_small
          a(href=logoLink).main-footer__company-logos
            .main-footer__company-logo
              img(src="/logo.svg", alt="Logo")
            .main-footer__company-name
              img(src="/toxin.svg", alt="Company TOXIN")
          .main-footer__company-text=companyText
          ul.main-footer__social
            each social in socialList
              li.main-footer__social-item
                a.main-footer__social-link(href=social.link target="_blank" rel="noopener noreferrer")
                  img.main-footer__social-img(src=social.imgLink, alt=social.name)
                  span.main-footer__social-name=social.name

