mixin plus-minus(options)
  .plus-minus(min=options.min max=options.max id=options.id name=options.name)

mixin dropdown(options)
  .dropdown
    .dropdown__result(id=options.id)=options.placeholder
    ul.dropdown__list
      each option in options.optionsList.length ? options.optionsList : ['There are no values']
        li.dropdown__item
          option.dropdown__option(selected=option.selected)=option.text
          +plus-minus({min: 0, max: 5, id: option.id, name: option.name})