mixin plus-minus(options)
  .plus-minus(min=options.min max=options.max id=options.id name=options.name)

mixin dropdown(options)
  .dropdown
    if options.title
      .text-field__title=options.title
    .dropdown__result(id=options.id)=options.placeholder
    .dropdown__content
      ul.dropdown__list
        each option in options.optionsList.length ? options.optionsList : ['There are no values']
          li.dropdown__item
            .dropdown__option(selected=option.selected data-min=option.min data-max=option.max data-forms=option.wordForms)=option.text
            +plus-minus({min: 0, max: 5, id: option.id, name: option.name})
      if options.controls
        .dropdown__controls
          button.dropdown__reset Очистить
          button.dropdown__apply Применить
