include ../rate-btn/rate-btn.pug

mixin room(options = {})
  -
    var {
      sliderId, 
      num = 1, 
      sliderImgs = [], 
      link = './mock', 
      type = '', 
      price = '0', 
      name = 'room-rating', 
      checkedRating = 4, 
      isRatingDisabled = true, 
      reviewNum = 10, 
      reviewsLink = './mock'
    } = options
  .room
    ul.room__slider.js-room-slider(id=sliderId)
      each link in sliderImgs.length ? sliderImgs : ['There are no values']
        li.room__slider-item
          img(src=link, alt="slider image")
    .room__info
      .room__room-info
        a.room__room(href=link)
          span №
            span.room__num=num
          span.room__type=type
        .room__per-day
          span.room__price=price
          span.room__measurement  в сутки
      .room__rating
        +rate-btn({name: name, checkedNum: checkedRating, disabled: isRatingDisabled})
        a.room__per-day.room__per-day_link(href=reviewsLink)
          =reviewNum
          span.room__measurement  Отзывов