include ../rate-btn/rate-btn.pug

mixin room(options)
  .room
    ul.room__slider.js-room-slider(id=options.sliderId)
      each link in options.sliderImgs.length ? options.sliderImgs : ['There are no values']
        li.room__slider-item
          img(src=link, alt="slider image")
    .room__info
      .room__room-info
        a.room__room(href=options.link)
          span №
            span.room__num=options.num
          span.room__type=options.type
        .room__per-day
          span.room__price=options.price
          span.room__measurement  в сутки
      .room__rating
        +rate-btn({name: options.name, checkedNum: options.checkedRating, disabled: options.isRatingDisabled})
        a.room__per-day.room__per-day_link(href=options.reviewsLink)
          =options.reviewNum
          span.room__measurement  Отзывов