include ../rate-button/rate-button.pug

mixin room(options = {})
  -
    var {
      number = 1, 
      sliderImgs = ["There are no values"], 
      link = "./mock",
      alt="Slider image",
      type = "", 
      price = "0", 
      name, 
      checkedRating = 4, 
      isRatingDisabled = true, 
      reviewNumber = 10, 
      reviewsLink = "./mock"
    } = options
  .room
    ul.room__slider.js-room-slider
      each link in sliderImgs
        li.room__slider-item
          img(src=link, alt=alt)
    .room__information
      .room__room-information
        a.room__room(href=link)
          h3.room__number
            span.room__number-sign №
            span.room__digit=number
          span.room__type=type
        .room__per-day
          span.room__price=price
          span.room__measurement  в сутки
      .room__rating
        +rate-button({name, checkedRating, disabled: isRatingDisabled})
        a.room__reviews-link(href=reviewsLink)
          =reviewNumber
          span.room__measurement  Отзывов