include ../text-field/text-field.pug
include ../note/note.pug

mixin login(options = {})
  -
    var {
      action="./mock",
      noteText="Подсказка",
      noteAction="registration-page.html",
      title="Войти"
    } = options
  .login
    h2.login__title=title
    form(action=action).login__form
      .login__login-data
        .login__email
          +text-field({placeholder: "Email", name: "email", type: "email", arialabel: "Почта"})
        .login__password
          +text-field({placeholder: "Пароль", name: "password", type: "password", arialabel: "Пароль"})
      .login__proceed
        +button({buttonText: "войти", styleType: "proceed"})
    .login__note
      +note({noteText: "Нет аккаунта на Toxin?", buttonText: "Создать", link: "registration-page.html"})