include ../../components/meta/meta.pug
include ../../components/checkbox/checkbox.pug
include ../../components/text-field/text-field.pug
include ../../components/radio-button/radio-button.pug
include ../../components/subscription/subscription.pug
include ../../components/button/button.pug
include ../../components/link/link.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/toggle-button/toggle-button.pug
include ../../components/pagination/pagination.pug
include ../../components/comment/comment.pug
include ../../components/advantage/advantage.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/rich-checkbox/rich-checkbox.pug
include ../../components/slider/slider.pug
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/expandable-list/expandable-list.pug
include ../../components/dropdown/dropdown.pug
include ../../components/range-datepicker/range-datepicker.pug
include ../../components/date-filter/date-filter.pug
include ../../components/find-room/find-room.pug

mixin form-elements(options = {})
  -
    var {
      description = "form elements",
        keywords = "form elements",
        title = "UI Kit",
        textFields = [{
            placeholder: "Email",
            name: "test",
            title: "text field",
            type: "email",
          },
          {
            placeholder: "This is pretty awesome",
            name: "test",
            title: "text field"
          },
        ],
        dropdowns = [{
            title: "dropdown",
            placeholder: "Сколько гостей",
            optionsList: [{
                text: "Спальни",
                wordForms: "спальня спальни спален"
              },
              {
                text: "Кровати",
                wordForms: "кровать кровати кроватей"
              },
              {
                text: "Ванные комнаты",
                wordForms: "ванная ванные ванных"
              }
            ]
          },
          {
            title: "dropdown",
            placeholder: "Комнаты",
            optionsList: [{
                text: "Спальни",
                wordForms: "спальня спальни спален"
              },
              {
                text: "Кровати",
                wordForms: "кровать кровати кроватей"
              },
              {
                text: "Ванные комнаты",
                wordForms: "ванная ванные ванных"
              }
            ]
          },
          {
            title: "dropdown",
            placeholder: "Комнаты",
            optionsList: [{
                text: "Спальни",
                wordForms: "спальня спальни спален"
              },
              {
                text: "Кровати",
                wordForms: "кровать кровати кроватей"
              },
              {
                text: "Ванные комнаты",
                wordForms: "ванная ванные ванных"
              }
            ]
          },
          {
            title: "dropdown",
            controls: true,
            placeholder: "Сколько гостей",
            optionsList: [{
                text: "Взрослые",
                wordForms: "гость гостя гостей",
                group: 1
              },
              {
                text: "Дети",
                wordForms: "гость гостя гостей",
                group: 1
              },
              {
                text: "Младенцы",
                wordForms: "младенец младенца младенцев"
              }
            ]
          },
          {
            title: "dropdown",
            controls: true,
            placeholder: "Сколько гостей",
            optionsList: [{
                text: "Взрослые",
                wordForms: "гость гостя гостей",
                group: 1
              },
              {
                text: "Дети",
                wordForms: "гость гостя гостей",
                group: 1
              },
              {
                text: "Младенцы",
                wordForms: "младенец младенца младенцев"
              }
            ]
          }
        ],
        maskedFields = [{
          placeholder: "ДД.ММ.ГГГГ",
          title: "masked text field"
        }],
        datepickers = [{
          startLabel: "date dropdown",
          endLabel: "date dropdown",
          controls: true
        }],
        datefilters = [{
          title: "filter date dropdown"
        }],
        subscriptions = [{
          placeholder: "Email",
          title: "subscription text field"
        }],
        checkboxes = {
          title: "Checkbox Buttons",
          items: [{
              labelText: "Можно курить"
            },
            {
              labelText: "Можно с питомцами",
              checked: true
            },
            {
              labelText: "Можно пригласить гостей (до 10 человек)",
              checked: true
            }
          ]
        },
        radio = {
          title: "Radio Buttons",
          items: [{
              labelText: "Мужчина",
              name: "gender"
            },
            {
              labelText: "Женщина",
              name: "gender"
            }
          ]
        },
        toggle = {
          title: "Toggle",
          items: [{
              buttonText: "Получать спецпредложения"
            },
            {
              buttonText: "Получать спецпредложения"
            }
          ]
        },
        like = {
          title: "Like button",
          items: [{
              likes: 2
            },
            {
              likes: 12,
              active: true
            }
          ]
        },
        rate = {
          title: "Rate button",
          items: [{
              name: "test",
              checkedRating: 4
            },
            {
              name: "test1",
              checkedRating: 5
            }
          ]
        },
        slider = {
          items: [{
            title: "range slider",
          }]
        },
        buttons = {
          title: "Buttons",
          items: [{
              styleType: "primary",
              buttonText: "click me",
              type: "button"
            },
            {
              styleType: "primary",
              buttonText: "click me",
              type: "button"
            },
            {
              styleType: "secondary",
              buttonText: "click me",
              type: "button"
            },
            {
              styleType: "secondary",
              buttonText: "click me",
              type: "button"
            },
            {
              styleType: "proceed",
              buttonText: "перейти к оплате",
              type: "button"
            }
          ]
        },
        links = {
          items: [{
              link: "#",
              linkText: "Click me"
            },
            {
              link: "#",
              linkText: "Click me"
            }
          ]
        },
        pagination = {
          items: [{
            number: 15,
            title: "pagination",
            description: "1 – 12 из 100+ вариантов аренды"
          }]
        },
        expandableLists = {
          items: [{
              title: "expandable checkbox list",
              list: [{
                  labelText: "Завтрак"
                },
                {
                  labelText: "Письменный стол",
                  checked: true
                },
                {
                  labelText: "Стул для кормления",
                  checked: true
                },
                {
                  labelText: "Кроватка",
                  checked: true
                },
                {
                  labelText: "Телевизор"
                },
                {
                  labelText: "Шампунь"
                },
                {
                  labelText: "Телевизор"
                },
                {
                  labelText: "Шампунь"
                }
              ]
            },
            {
              title: "expandable checkbox list",
              list: [{
                  labelText: "Завтрак"
                },
                {
                  labelText: "Письменный стол",
                  checked: true
                },
                {
                  labelText: "Стул для кормления",
                  checked: true
                },
                {
                  labelText: "Кроватка",
                  checked: true
                },
                {
                  labelText: "Телевизор"
                },
                {
                  labelText: "Шампунь"
                },
                {
                  labelText: "Телевизор"
                },
                {
                  labelText: "Шампунь"
                }
              ]
            }
          ]
        },
        advantages = [{
            title: "Комфорт",
            description: "Шумопоглощающие стены",
            alt: "Дом",
            imageLink: "advantage-house.svg"
          },
          {
            title: "Удобство",
            description: "Окно в каждой из спален",
            alt: "Город",
            imageLink: "advantage-city.svg"
          }
        ],
        richCheckboxes = {
          title: "rich Checkbox Buttons",
          items: [{
              labelText: "Широкий коридор",
              description: "Ширина коридоров в номере не менее 91 см."
            },
            {
              labelText: "Помощник для инвалидов",
              description: "На 1 этаже вас встретит специалист  и проводит до номера.",
              wide: true
            }
          ]
        },
        bulletLists = [{
          title: "bullet list",
          items: ["Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после 13:00, а выезд до 12:00"
          ]
        }],
        comments = [{
          src: "comment.jpg",
          likes: 12,
          activeLike: true,
          author: "Мурад Сарафанов",
          date: "5 дней назад",
          comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
        }]
    } = options
  <!DOCTYPE html>
  html(lang="en")
    head
      +meta({description, keywords, title})
    body.ui-kit
      .ui-kit__container
        .ui-kit__interactive
          .ui-kit__inputs
            each field in textFields
              .ui-kit__text-field
                +text-field(field)
            .ui-kit__dropdown
              +dropdown(dropdowns[0])
            .ui-kit__masked-field
              +masked-text-field(maskedFields[0])
            .ui-kit__date-dropdowns
              +range-datepicker(datepickers[0])
            .ui-kit__date-filter
              +date-filter(datefilters[0])
            .ui-kit__sub
              +subscription(subscriptions[0])
          .ui-kit__checkers
            .ui-kit__checkboxes
              .ui-kit__checkbox-title=checkboxes.title
              each checkbox in checkboxes.items
                .ui-kit__checkbox
                  +checkbox(checkbox)
            .ui-kit__radio
              .ui-kit__radio-title=radio.title
              .ui-kit__radio-buttons
                each radioButton in radio.items
                  .ui-kit__radio-button
                    +radio-button(radioButton)
            .ui-kit__togglers
              .ui-kit__toggle-title=toggle.title
              each toggleButton in toggle.items
                .ui-kit__toggle
                  +toggle-button(toggleButton)
            .ui-kit__like
              .ui-kit__like-title 
              .ui-kit__like-buttons
                each likeButton in like.items
                  .ui-kit__like-button
                    +like-button(likeButton)
            .ui-kit__rate
              .ui-kit__rate-title 
              .ui-kit__rate-buttons
                each rateButton in rate.items
                  .ui-kit__rate-button
                    +rate-button(rateButton)
          .ui-kit__buttons-slider
            .ui-kit__slider-range
              +slider(slider.items[0])
            .ui-kit__buttons
              .ui-kit__button-title=buttons.title
              .ui-kit__button-list
                +button(buttons.items[0])
                +button(buttons.items[1])
                +button(buttons.items[2])
                +button(buttons.items[3])
              .ui-kit__links
                each linkItem in links.items
                  .ui-kit__link
                    +link(linkItem)
              .ui-kit__proceed
                +button(buttons.items[4])
              .ui-kit__pagination
                +pagination(pagination.items[0])
        .ui-kit__dropdowns
          .ui-kit__dropdown-set
            .ui-kit__dropdowns-list
              .ui-kit__dropdown-item
                +dropdown(dropdowns[1])
              .ui-kit__dropdown-item
                +dropdown(dropdowns[2])
            .ui-kit__expand-lists
              each expandableList in expandableLists.items
                .ui-kit__expand-list
                  +expandable-list(expandableList)
            .ui-kit__advantages
              each advantageItem in advantages
                .ui-kit__advantage
                  +advantage(advantageItem)
          .ui-kit__extended-dropdowns
            .ui-kit__controls-dropdowns
              .ui-kit__controls-dropdown
                +dropdown(dropdowns[3])
              .ui-kit__controls-dropdown
                +dropdown(dropdowns[4])
            .ui-kit__checkboxes-bullet
              .ui-kit__rich-checkboxes
                .ui-kit__rich-checkboxes-title=richCheckboxes.title
                each richCheckbox in richCheckboxes.items
                  .ui-kit__rich-checkbox
                    +rich-checkbox(richCheckbox)
              .ui-kit__bullet
                +bullet-list(bulletLists[0])
            .ui-kit__comment
              +comment(comments[0])
    