include ../text-field/text-field.pug
include ../radio-button/radio-button.pug
include ../masked-text-field/masked-text-field.pug
include ../toggle-button/toggle-button.pug
include ../button/button.pug
include ../note/note.pug

mixin registration(options = {})
  -
    var {
      title="Регистрация",
      noteText="Уже зарегистрированы?",
      fields={
        name: {
          placeholder: "Имя",
          name: "registration-name",
          arialabel: "Имя"
        },
        surname: {
          placeholder: "Фамилия",
          name: "registration-surname",
          arialabel: "Фамилия"
        },
        sex: {
          man: {name: "registration-sex", labelText: "Мужчина"},
          woman: {name: "registration-sex", labelText: "Женщина"}
        },
        birthday: {placeholder: "ДД.ММ.ГГГГ", title: "Дата рождения", name:"registration-birthday"},
        email: {placeholder: "Email", name: "registration-email", type: "email", title: "данные для входа в сервис", arialabel: "Почта"},
        password: {placeholder: "Пароль", name: "registration-password", type: "password", arialabel: "Пароль"}
      },
      toggle={name: "registration-offers", buttonText: "Получать спецпредложения"},
      proceenButton={buttonText: "перейти к оплате", styleType: "proceed"},
      note={noteText: "Уже есть аккаунт на Toxin", buttonText: "Войти", link: "signin-page.html"},
      action="./mock",
      noteAction="signin-page.html"
    } = options
  .registration
    form(action=action).registration__main-form
      h2.registration__title=title
      .registration__name
        +text-field(fields.name)
      .registration__surname
        +text-field(fields.surname)
      .registration__sex
          .registration__man
            +radio-button(fields.sex.man)
          .registration__woman
            +radio-button(fields.sex.woman)
      .registration__birthday
        +masked-text-field(fields.birthday)
      .registration__login-data
          .registration__email
            +text-field(fields.email)
          .registration__password
            +text-field(fields.password)
      .registration__offers-button
        +toggle-button(toggle)
      .registration__proceed
        +button(proceenButton)
    .registration__note
      +note(note)
